# Any binaries, intermediate binaries or project files
**/bin
**/bin-int
**/project

# Compiled files
EXE/*.exe
EXE/*.lib
EXE/*.pdb
EXE/*.exp

# DLLs
EXE/lib_zspace/*
EXE/lib_omniverse/*

# Visual studio files and solution files
.vs/
*.sln

# Build system paths
paths.lua

# Other files
**/desktop.ini
